body {
margin: 0;
font-family: sans-serif;
background-image:url(IMG/fondo.jpg);
width: 100%;
height:100%vh;
background-size: cover;
}
.menus{
  display: none;
}
header{
  width: 100%;
}
header nav{
  background: rgb(12, 63, 44);
  z-index: 1250;
  max-width: 1250px;
  width: 95%;
  margin: 20px auto;
}
header nav ul{
  list-style: none;
}
header nav ul li{
  display: inline-block;
  position: relative;
}
header nav ul li:hover{
  background: rgb(41, 83, 60);
}

header nav ul li a{
  color:rgb(250, 249, 252);
  display: block;
  text-decoration: none;
  padding: 20px;
}
header nav ul li a span{
  margin-right: 10px;
}

header nav ul li:hover .hijos{
  display: block;
}
header nav ul li .hijos{
  display: none;
  background: rgb(29, 28, 28);
  position: absolute;
  width: 160%;
  z-index: 1250;
}
header nav ul li .hijos li{
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(225,225,225,.5);
}
header nav ul li .hijos li a{
  display: block;
}
header nav ul li .hijos li a span{
  float: right;
  position: relative;
  top: 5px;
  margin-right: 0;
  margin-left: 10px;
}
header nav ul li .despegable{
  position: relative;
  top: 5px;
  margin-left: 10px;
  margin-right: 0px;
}
h4 {
	text-align: right;
  color: #e7dddd;
  font-weight: normal;
  font-size: 18px;
  font-family: Arial;
  text-transform: lowercase;
  display:inline;
  font-weight: bold;
  letter-spacing: 1px;
}
div {
  width: 100%;
  height: 100%vh;
  background: #302f2f;
}

.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: right; 
  background: #161616; 
  margin: 0 0 1px; 
  overflow: hidden; 
  padding: 0.000001px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 0px 0px 0px 0px; 
  -webkit-border-radius: 0px 0px 0px 0px; 
  border: 2px solid #c1c6d1;
} 
.close{
	width: 25px;
  height: 25px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
#btn-menu {
  display: none;
  }